.idea
.cproject
.mxproject
.project
CMakeLists_template.txt
.settings
.classpath
.DS_Store
.gitignore
.git
.idea/workspace.xml
.idea/vcs.xml
.idea/libraries
.idea/compiler.xml
.idea/misc.xml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/dataSources.xml
.idea/dataSources.local.xml
.idea/uiDesigner